.cover {
    background-size: cover;
    background-position-x: center;
    height: 100%;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(53, 53, 53, 0.43);
    }
}