$header-height: 3rem;
#header {
    position: fixed;
    left: 15px;
    right: 15px;
    top: 0;
    z-index: 99;
    height: $header-height;
    &+* {
        padding-top: $header-height;
    }
    & {
        background: white;
        &.top {
            background: none;
        }
    }
}